<mat-nav-list>
  <a mat-list-item (click)="play($event)">
    <span mat-line>Queue Song</span>
    <span mat-line>add the song to the play queue.</span>
  </a>
  <!--<a href="https://docs.google.com/" mat-list-item (click)="openLink($event)">-->
    <!--<span mat-line>Google Docs</span>-->
    <!--<span mat-line>Embed in a document</span>-->
  <!--</a>-->
</mat-nav-list>
