<!--<pre *ngIf="configJson" [textContent]="JSON.stringify(configJson, null, '  ')"></pre>-->
<form *ngIf="configJson" [formGroup]="config" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Configuration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Update</button>
    </mat-card-actions>
  </mat-card>
</form>


<div *ngIf="userService.profile.token">Logged
  <button mat-button (click)="onLogoutClick()">Log out</button>
</div>
