<div  *ngIf="isLoading" class="container">
<div class="spinner">
      <mat-spinner class="result-spinner"></mat-spinner>
  </div>
</div>
<div class="container" *ngIf="historyItems?.length">
  <mat-table [dataSource]="historyItems" class="mat-elevation-z8">
<ng-container matColumnDef="card">
      <mat-header-cell *matHeaderCellDef> User</mat-header-cell>
      <mat-cell *matCellDef="let entry">
        <div class="card">
          <div class="cover-container">
            <img src="{{entry.song.cover || 'default_cover.png'}}" class="cover-image">
          </div>
          <div class="info">
            <div class="info2">
              <div class="title-artist">
                <div class="queue-title">{{entry.song.title}}</div>
                <div class="queue-artist">{{entry.song.artist}}</div>
              </div>
            </div>

            <div class="queue-bottom">
              <div class="queue-user">
                <mat-icon>music_note</mat-icon>
                {{entry.user}}</div>
            </div>
          </div>

        </div>
      </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openBottomSheet(row)"
             [ngStyle]="entryOfCurrentUser(row) ? {'background-color':  '#D5EBE4', 'border':'none', 'cursor': 'pointer'} : {}">
    </mat-row>
</mat-table>
</div>
<div class="container" *ngIf="!isLoading && (!historyItems || !historyItems.length )">
  <span>The history is empty</span>
</div>
