.container {
  text-align: center;
  padding-top: 3vh;
  padding: 1rem;
}

.queue-length {
  text-align: right;
  padding: 5px;
  color: grey;
}

.queue-card {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.queue-author {
  font-weight: lighter;
}

.queue-title {
  font-weight: bold;
  color: #1C0C18;
}
.queue-artist {
  color: #1C0C18;
  opacity: 0.65;
}

.queue-bottom {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%

}

.queue-bottom .queue-user {
  display: flex;
  padding-right: 5px;
  opacity: .75;
}

.queue-bottom .queue-eta {
  display: flex;
}

.card {
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  text-align: left;
  display: flex;
  flex-direction: row;
  width: 100%;
}

mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
padding-left: 0px;
}

.cover-image {
  width: 84px;
  height: 84px;
  background-image: url("/default_cover.png");
}

.cover-container {
  display: flex;
  padding-right: 0.5em;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.info2 {
  flex-direction: row;
  display: flex;
  justify-content: space-between
}

.playing-label {
  background-color: #FF2F55;
  color: white;
  border-radius: 14%;
  padding: 4px 15px;
  flex-shrink: 1;
  height: 1.4em;

}

.title-artist {
  flex-direction: column;
  display: flex
}
.mat-row {
  border: 1px solid #D2D7DC;
  margin: 8px 0;
}
.mat-table {
  box-shadow: none;

}
mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type{
  padding-right: 0px;
}
