<h1 mat-dialog-title>Admin config</h1>
<form (ngSubmit)="onLoginClick()">
<div mat-dialog-content>

  <p>Login is required to enter the Karapulse Admin</p>
  <mat-form-field class="full-width">
    <mat-label>Admin password</mat-label>
    <input matInput [(ngModel)]="data.adminPassword" name="adminPassword" cdkFocusInitial  type="password" [disabled]="state=='loading'">
  </mat-form-field>
  <div *ngIf="errorMessage" [textContent]="errorMessage" class="mat-error"></div>
</div>

<div mat-dialog-actions>
  <button mat-button type="button" (click)="onNoClick()">Cancel</button>
  <button mat-button type="submit"  [disabled]="state=='loading'">Login</button>
</div>
</form>
