.results {
  padding: 1rem;
}

.display-source {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  display: flex;
  width: 100%;
  color: #1C0C18;
}

.source {
  font-weight: 600;
  margin-left: 6px;
}

.source.cdg {
  color: #2FC7FF;
}

.source.video {
  color: #EA6FD6;
}

.source.spotify {
  width: 71px;
  height: 24px;
}

.display-length {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin-top: 8px;
}

.display-left {
  display: flex;
}

.explicit {
  background-color: rgba(1, 29, 74, .15);
  padding: 0 6px;
  margin-right: 4px;
  border-radius: 4px;
  color: #011D4A;
}

.artist {
  display: flex;
  color: rgba(1, 29, 74, .45);
}

.in-queue {
  background-color: rgba(252, 127, 3, .15);
  padding: 0 6px;
  margin-left: 4px;
  color: #FC7F03;
}

.song-length {
  display: flex;
  color: rgba(1, 29, 74, .65);
}

.song-entry {
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.cover-image {
  width: 50px;
  height: 50px;
  background-image: url("/default_cover.png");
}

.cover-container {
  display: flex;
  padding-right: 0.5em;
}

.info {
  flex-direction: column;
  width: 100%;
}

mat-footer-cell:first-of-type,
mat-header-cell:first-of-type {
  padding-left: 0px;
}