<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/dashboard/search">
        <mat-icon>dashboard</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Change name</span>
      </button>
      <button mat-menu-item routerLink="/qrcode">
        <mat-icon>qr_code_2</mat-icon>
        <span>Invite QR code</span>
      </button>
      <button mat-menu-item routerLink="/config">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
    </mat-menu>
    <span routerLink="/dashboard/search">Karapulse</span>
    <span><img src="favicon.ico" /></span>
    <span class="app-spacer"></span>
    <app-playercontrol></app-playercontrol>
  </mat-toolbar-row>
</mat-toolbar>
<app-first-run-dialog></app-first-run-dialog>
<router-outlet></router-outlet>
